@keyframes colors {
    0% {
      color: #3f3ffcb6;
    }
  
    50% {
      color: #8437f8a7;
    }
  
    100% {
      color: #bb45ffaf;
    }
}


body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 15px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color: hsl(0, 0%, 0%); /* Цвет основного текста */ 
}
h1 {
    color: #FD98FB; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    animation: colors 3s infinite;
}
 

h2 {
    color: #FD98FB; /* Цвет заголовка */
    font-size: 20px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}

p {
    color: #FFFFFF; /* Цвет заголовка */
    font-size: 16px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}

li {
    color: #D6FF6B; /* Цвет заголовка */
    font-size: 16px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}